



body {
  font-size: 16px;
  color:black;
  background-color:white;
  font-family: 'Oxygen', sans-serif;
}

/**HEADER **/
.header-nav {
  background-color:rgb(212, 20, 20);
  border-radius: 0;
  border: 2px solid black;
}
.container-fixed{
  padding-left: 15px;
  margin-right: 0px;
  margin-left: 0px;
}
/***Brand name ***/

.navbar-brand h1 
{ 
  font-family: "Lora", seri;
  color:black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: left;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration:none;
  }

  .nav-collapse{
    background-color: white;
    margin:0px;
    padding:0px;
  }
.box{
  display: block;
	background-color: darkgray;
	border: 1px solid black;
	width: 99%;
	margin-right: auto;
  margin-left: auto;
  margin-top:20px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .box-xs{
    width:80%;} 
}
.title{
  text-align: center;
  
}
p {
	font-family: Helvetica;
	color: black;
  padding:40px 10px 10px 10px;
  text-align: justify;
}


#nav-list{
  background-color: white;
  margin:0px 0px 0px 0px;
  margin-top: 0px;
  padding:0px;
    }
#nav-list a {
  color:black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.nav-item{
border:1px solid black;
}


.header-nav button.navbar-toggle, .header-nav .icon-bar {
  border: 1px solid black;
}
.header-nav button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

